{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
  <div class="row">


<div class="alert alert-info">
  <h1>Creer un article</h1>

</div>

    <div class="well">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input  type="submit" value="Creer un article" />
    {{ form_end(form) }}

    


            <a href="{{ path('post_index') }}">  <input type="submit" value="Retour" /></a>

        </div><!--well -->
      </div> <!--row-->

    </div> <!--container -->
{% endblock %}
