{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer un Nouvel article</h1>

    <form method="post">
        </label for="text">Description</label>
        <input id="text" name="text" type="text" />
        </label for="img">Image</label>
        <input id="img" name="img" type="file" />
        <button id="valider" name="valider" type="submit" />Valider</button>
    </form>

    <ul>
        <li>
            <a href="{{ path('post_index') }}">Retour à la page d'administration</a>
        </li>
    </ul>
{% endblock %}

  
